<h1 class="text-center">Employee-List</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Job-Title</th>
    <th>Phone-number</th>
    <th>Image-URL</th>
    <th>Employee-Code</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
  <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.jobTitle}}</td>
    <td>{{employee.phoneNumber}}</td>
    <td>{{employee.imageURL}}</td>
    <td>{{employee.employeeCode}}</td>
  </tr>
  </tbody>
</table>
